body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.menu li, .sub-menu li {
    list-style: none;
    display: inline;
}


header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    padding: 0;
}

.icon-pinterest {
    font-size: 30px;
    margin-left: 80px;
    color: rgb(172, 27, 27);
}

.icon-search {
    position: relative;
    right: 680px;
}

.javascript {
    position: relative;
    right: 695px;
    font-size: 20px;
    color: gray;
}


.menu, .sub-menu {
    text-align: center!important;
    display: inline-block;
}

.menu {
 width: 80%;
 display: inline-block;
 margin: 0;
}

.menu .icon-user, .icon-bubble, .icon-menu {
    margin-right: 30px;
    font-size: 20px;
    color: #b5b5b5;
}

.box-header {
    display: inline-block;
}

.input div {
display: inline-block;
margin: 10px; 
}


.input  {
    text-align: right;
    margin-right: 50px;
}

 .menu .input {
    display: inline-block;
    width: 80%;
    background-color: #EFEFEF;
}

hr {
    margin-bottom: 0;
}

.sub-menu {
    font-size: 18px;
    width: 100%;
    padding-bottom: 0;
}


.sub-menu div {
    display: inline-block;
    height: 60px;
    border-radius: 8px;
    text-align: center;
    margin: 5px 10px;
    position: relative;
}


 .sub-menu ul div li {
     position: absolute;
     left: 20px;
    bottom: 15px;
    color: #fff;
 }

.buttom-one {
    width: 150px;
    background-color: #745060;  
}

.buttom-two {
    background-color:#ab8b6f;
    width: 110px;
}

.buttom-three {
    background-color: #88735d;
    width: 80px;
}

.buttom-four {
    background-color: #8e6e52;
    width: 80px;
}

.buttom-five {
    background-color: #9b944b;
    width: 150px;
}

.buttom-six {
    background-color: #82725a;
    width: 100px;
}

.buttom-seven {
    background-color: #888081;
    width: 80px;
}

.buttom-eight {
    background-color: #9a775b;
    width: 100px;
}

.buttom-nine {
    background-color: #af7f74;
    width: 100px;
}

main {
    margin: 170px auto auto ;
    overflow: auto;
    max-width: 1400px;
}

.first-column, .second-column, .third-column {
    width: 33%;
    float: left;
}

.first-column figure img, .second-column figure img, .third-column figure img {
    /*outline: 1px solid orange; */
    width: 100%;
    border-radius: 20px;
}